<a href="https://colab.research.google.com/github/ciaranomalley/cs-for-psych/blob/master/Copy_of_practical_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment/Practical  3: Introduction to Databases

In this assignment, you will take a practical look at Databases, both structured and unstructured. 

Database are tricky to use in situations like this as they require instalation and configuration and hiccups are bound to occur, so will try to keep this simple and aim to cover the basics of what was covered in the lectures.

* Relational  / SQL
* NonRelational  / NoSQL
* ~~XML~~
* ~~JSON~~

Save this notebook in your own google drive/colab/binder account, or run locally, complete your code, and comments and save as a .ipynb file. Name the file as "Assignment3_your_name.ipynb" and submit to the assignmet for this practical on blackboard.

Deadline: 04-12-2020

Didactic purpose of this assignment:
* connecting to databaseses
* accessing data programaticaly
* getting a feel working with structured and unstructured data 
* querying and processing data

## SQLite 
SQLite is an in-process library that implements a **self-contained, serverless, zero-configuration**, transactional SQL database engine. The code for SQLite is in the public domain and is thus free for use for any purpose, commercial or private. SQLite is the most widely deployed database in the world with more applications than we can count, including several high-profile projects.
SQLite is an embedded SQL database engine. Unlike most other SQL databases, SQLite does not have a separate server process. SQLite reads and writes directly to ordinary disk files.

In [ ]:
# Let's install sqlite ...

!pip install db-sqlite3

Requirement already satisfied: db-sqlite3 in /usr/local/lib/python3.6/dist-packages (0.0.1)
Requirement already satisfied: db in /usr/local/lib/python3.6/dist-packages (from db-sqlite3) (0.1.1)
Requirement already satisfied: antiorm in /usr/local/lib/python3.6/dist-packages (from db->db-sqlite3) (1.2.1)

In [ ]:
# ... and import the library

import sqlite3

In [ ]:
#connect with the database, if it doesn't exist it will be created (although many other RDBMS's will throw an error)
db = sqlite3.connect("prac_3.db")

In [ ]:
# we should now see the DB on the file system, you can move this as you would any other file - portability
!ls

prac_3.db  sample_data

In [ ]:
# Lets create a table, and drop it if it previously exists
# NOTE id
db.execute("drop table if exists machines")
try:
  db.execute("CREATE TABLE machines ( id INTEGER PRIMARY KEY, name TEXT NOT NULL, location TEXT, vendor TEXT)")
except:
  print("Already table existed !!")

In [ ]:
# create a cursor object
curs = db.cursor()

In [ ]:
# we can now view all the tables 
curs.execute("SELECT name FROM sqlite_master WHERE type = 'table'").fetchall()

[('machines',)]

In [ ]:
# and inspect the structure of the table
for row in curs.execute("PRAGMA table_info(machines)"):
    print(row)

(0, 'id', 'INTEGER', 0, None, 1)
(1, 'name', 'TEXT', 1, None, 0)
(2, 'location', 'TEXT', 0, None, 0)
(3, 'vendor', 'TEXT', 0, None, 0)

In [ ]:
# and view the data - nothing to see here yet 
rs = curs.execute('SELECT * FROM machines')
for row in rs:
    print (row)

In [ ]:
# now lets add some data (machines)
# ie insert a new row 
# NOTE null
curs.execute('INSERT INTO machines values (null, ?, ?, ?) ', ('Widget Maker', 'Room 2', 'ACME'))
db.commit()

In [ ]:
# or we can insert many values at once

In [ ]:
# now lets add some data (machines)
# ieinsert a new row
curs.executemany('INSERT INTO machines values (null, ?, ?, ?) ',[('Dongle Press', 'Room 1', 'ACME'), ('Box Flatener', 'Room 5', 'AJAX')] )
db.commit()

In [ ]:
# and view the data - nothing to see here yet 
rs = curs.execute('SELECT * FROM machines')
for row in rs:
    print (row)

(1, 'Widget Maker', 'Room 2', 'ACME')
(2, 'Dongle Press', 'Room 1', 'ACME')
(3, 'Box Flatener', 'Room 5', 'AJAX')

## Task 1

Complete the following, (adding the code after the comment):

In [ ]:
# Add ~3 more machines to the machines table (mix the vendor and room names)
curs.executemany('INSERT INTO machines values (null, ?, ?, ?) ',[('Tool1', 'Room 1', 'ACME'), ('Tool2', 'Room 5', 'AJAX'), ('Tool3', 'Room 2', 'AJAX')])
db.commit()

In [ ]:
# View only the 'ACME' machines 
rs = curs.execute('SELECT * FROM machines WHERE "vendor" = "ACME"')
for row in rs:
    print (row)

(1, 'Widget Maker', 'Room 2', 'ACME')
(2, 'Dongle Press', 'Room 1', 'ACME')
(4, 'Tool1', 'Room 1', 'ACME')

In [ ]:
# View only the 'AJAX' machines in 'Room 2'
rs = curs.execute('SELECT * FROM machines WHERE "vendor" = "AJAX" AND "location" = "Room 2"')
for row in rs:
    print (row)

(6, 'Tool3', 'Room 2', 'AJAX')

In [ ]:
# View the machines ordered by name
rs = curs.execute('SELECT name FROM machines ORDER BY name ASC')
for row in rs:
    print (row)

('Box Flatener',)
('Dongle Press',)
('Tool1',)
('Tool2',)
('Tool3',)
('Widget Maker',)

In [ ]:
# 'All' of the machines in'Room 5' are moved to 'Room 1' write an SQL statment to UPDATE these 
rs = curs.execute('UPDATE machines SET location = "Room 1" WHERE location = "Room 5"')
rs = curs.execute('SELECT * FROM machines')
for row in rs:
    print (row)

(1, 'Widget Maker', 'Room 2', 'ACME')
(2, 'Dongle Press', 'Room 1', 'ACME')
(3, 'Box Flatener', 'Room 1', 'AJAX')
(4, 'Tool1', 'Room 1', 'ACME')
(5, 'Tool2', 'Room 1', 'AJAX')
(6, 'Tool3', 'Room 2', 'AJAX')

Now we need to add some sensor readings and associate them with a machine

In [ ]:
# Add a new table 'readings' - this should have an 'id' (primary/auto incrementing), a 'machine_id' (int), a 'type' (text) and a 'value' (int)
db.execute("drop table if exists readings")
try:
  db.execute("CREATE TABLE readings ( id INTEGER PRIMARY KEY, machine_id INT NOT NULL, type TEXT, value INT)")
except:
  print("Already table existed !!")

In [ ]:
# we can now view all the tables 
curs.execute("SELECT name FROM sqlite_master WHERE type = 'table'").fetchall()

[('machines',), ('readings',)]

In [ ]:
# Add some (~15) sensor reading mix them between the machines with a few types (temp, count, presure) and vary the values ie
# 1, temp, 16
# 3, count, 234
# 5, pressure, 99 
curs.executemany('INSERT INTO readings values (null, ?, ?, ?) ',[('1', 'temp', '12'), ('1', 'count', '156'),('1', 'pressure', '85'),('2', 'pressure', '85') ,('2', 'temp', '8'),('2', 'count', '168'),('3', 'pressure', '72'),('3', 'temp', '15'),('3', 'pressure', '96')] )
db.commit()

Finally we need to query both tables together

In [ ]:
# select all the 'temp' values for the dongle press (JOIN)
rs = curs.execute('SELECT machines.name, value FROM readings JOIN machines ON readings.machine_id = machines.id WHERE type = "temp" AND machines.name = "Dongle Press" ORDER BY readings.id DESC LIMIT 10;')
for row in rs:
    print (row)

('Dongle Press', 8)

In [ ]:
# Get the SUM of  the 'count' values for a machine of your choice
#rs = curs.execute('SELECT SUM FROM machines.name, value FROM readings JOIN machines ON readings.machine_id = machines.id WHERE type = "count" AND machines.name = "Dongle Press";')

rs = curs.execute('SELECT SUM (value) FROM readings WHERE type = "count" AND machines.name = "Box Flatner";)
for row in rs:
    print (row)

OperationalError: ignored

In [ ]:
# Get the MAX 'presume' values for the machines in 'Room 1

# NonRelational / NoSQL
For simplictity we are going to use MongoDB for this, this can be installed locally but it might be easier to use there free cloud offering (Atlas).

## MongoDB

MongoDB is a cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with optional schemas.

### MongoDB Atlas

* First off you will need to create an account ( 
https://www.mongodb.com/cloud/atlas/register )
* Add New Database User (Easiest to choose password auth)
* Whitelist your IP (Add current IP Address)
* Load sample data
* Connect
  * Connect your application
  * Driver - Choose Python
  * Version - See code below to view your PY version
  * Copy your connection string

In [15]:
!python --version

Python 3.6.9

In [16]:
# Add you password here, make sure you delete after 
mongo_password = 'McWestport'  # <----- Don't commit

In [17]:
#Install pymongo
!pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.6/dist-packages (3.11.2)

In [18]:
# import the library
import pymongo

In [24]:
# add the mongo connection string from set up 
#client = pymongo.MongoClient("mongodb+srv://foo:"+mongo_password+"@cluster0.o4fx9.mongodb.net/test?retryWrites=true&w=majority")

#client = pymongo.MongoClient("mongodb://CiaranOMalley:"+mongo_password+"@cluster0.sk1wi.mongodb.net/somedatabase?retryWrites=true&w=majority")

client = pymongo.MongoClient("mongodb+srv://CiaranOMalley:McWestport@cluster0.sk1wi.mongodb.net/foo2?retryWrites=true&w=majority")
db = client.test

In [25]:
# dnspython issue ?
! pip install pymongo[srv] 

# or

#mongodb://

Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.6/dist-packages (3.11.2)
Requirement already satisfied: dnspython<2.0.0,>=1.16.0; extra == "srv" in /usr/local/lib/python3.6/dist-packages (from pymongo[srv]) (1.16.0)

In [26]:
# Inserting data - If the collection does not currently exist, insert operations will create the collection.
db.inventory.insert_one(
    {"item": "canvas",
     "qty": 100,
     "tags": ["cotton"],
     "size": {"h": 28, "w": 35.5, "uom": "cm"}})

In [28]:
# You can also view the inserted ID

Head back to your Atlas dashboard you should  see the DB and collection

In [29]:
# Insert many
db.inventory.insert_many([
    {"item": "journal",
     "qty": 25,
     "tags": ["blank", "red"],
     "size": {"h": 14, "w": 21, "uom": "cm"}},
    {"item": "mat",
     "qty": 85,
     "tags": ["gray"],
     "size": {"h": 27.9, "w": 35.5, "uom": "cm"}},
    {"item": "mousepad",
     "qty": 25,
     "tags": ["gel", "blue", 'red'],
     "size": {"h": 19, "w": 22.85, "uom": "cm"}}])

Again head back to your Atlas dashboard

Query the collection

You can also view all the collections

In [30]:
db.collection_names()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.
  """Entry point for launching an IPython kernel.

['inventory']

Querying

In [31]:
# equivalent of SELECT * FROM inventory
cursor = db.inventory.find({})

In [32]:
# itterate on collection
for doc in cursor:
    print(doc)

{'_id': ObjectId('5fd34df7f2a8987405394d2d'), 'item': 'canvas', 'qty': 100, 'tags': ['cotton'], 'size': {'h': 28, 'w': 35.5, 'uom': 'cm'}}
{'_id': ObjectId('5fd34e08f2a8987405394d2e'), 'item': 'journal', 'qty': 25, 'tags': ['blank', 'red'], 'size': {'h': 14, 'w': 21, 'uom': 'cm'}}
{'_id': ObjectId('5fd34e08f2a8987405394d2f'), 'item': 'mat', 'qty': 85, 'tags': ['gray'], 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}}
{'_id': ObjectId('5fd34e08f2a8987405394d30'), 'item': 'mousepad', 'qty': 25, 'tags': ['gel', 'blue', 'red'], 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}}
{'_id': ObjectId('5fd34e0cf2a8987405394d31'), 'item': 'journal', 'qty': 25, 'tags': ['blank', 'red'], 'size': {'h': 14, 'w': 21, 'uom': 'cm'}}
{'_id': ObjectId('5fd34e0cf2a8987405394d32'), 'item': 'mat', 'qty': 85, 'tags': ['gray'], 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}}
{'_id': ObjectId('5fd34e0cf2a8987405394d33'), 'item': 'mousepad', 'qty': 25, 'tags': ['gel', 'blue', 'red'], 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}}

In [33]:
#the cursor also exposes a 'next' method
cursor = db.inventory.find({})
print(cursor.next())

{'_id': ObjectId('5fd34df7f2a8987405394d2d'), 'item': 'canvas', 'qty': 100, 'tags': ['cotton'], 'size': {'h': 28, 'w': 35.5, 'uom': 'cm'}}

In [34]:
#and a 'rewind' method - which rewinds the cursor to its unevaluated state.
print(cursor.rewind())

<pymongo.cursor.Cursor object at 0x7fa621eaff98>

In [35]:
# we can do items counts
n_inventory = db.inventory.find().count()

print("There are {} items in the inventory".format(n_inventory))

There are 7 items in the inventory

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.

In [36]:
# we can filter - like SELECT * FROM inventory WHERE ...

cursor = db.inventory.find( {'item': 'canvas'} )

# itterate on collection
for doc in cursor:
    print(doc)

{'_id': ObjectId('5fd34df7f2a8987405394d2d'), 'item': 'canvas', 'qty': 100, 'tags': ['cotton'], 'size': {'h': 28, 'w': 35.5, 'uom': 'cm'}}

In [37]:
# we can filter  Multple conditions - similar to AND

cursor = db.inventory.find( {"item": "journal"}, {"qty": 25} )

# itterate on collection
for doc in cursor:
    print(doc)

{'_id': ObjectId('5fd34e08f2a8987405394d2e'), 'qty': 25}
{'_id': ObjectId('5fd34e0cf2a8987405394d31'), 'qty': 25}

In [38]:
# or ranges
cursor = db.inventory.find({ "qty":  { "$gt": 25 } })

# itterate on collection
for doc in cursor:
    print(doc)

{'_id': ObjectId('5fd34df7f2a8987405394d2d'), 'item': 'canvas', 'qty': 100, 'tags': ['cotton'], 'size': {'h': 28, 'w': 35.5, 'uom': 'cm'}}
{'_id': ObjectId('5fd34e08f2a8987405394d2f'), 'item': 'mat', 'qty': 85, 'tags': ['gray'], 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}}
{'_id': ObjectId('5fd34e0cf2a8987405394d32'), 'item': 'mat', 'qty': 85, 'tags': ['gray'], 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}}

## Task 2

Complete the following, (adding the code after the comment):

In [41]:
# load the sample Air BnB data 

#connect to db
db = client.sample_airbnb

In [43]:
# how many records are there ?
total = db.listingsAndReviews.find().count()

print("There are {} records in the collection".format(total))

There are 5555 records in the collection

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.

In [52]:
# How many listings include the amenities of "Air conditioning" and an "Elevator"?
amen_total = db.listingsAndReviews.find({"amenities" : ["Elevator"]}).count()

print("There are {} listings with the amenities of AirCon and an Elevator in the colelction".format(amen_total))

There are 0 listings with the amenities of AirCon and an Elevator in the colelction

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.

In [ ]:
# How many listings are there which allow a stay of a minimum of 50 and a maximum  of 500 nights ?

In [ ]:
# Show the 5 highest rated listings for 'Lofts' with 'moderate'cancellation_policy

In [ ]:
# The update the listing 10082422 changing the room type to 'Entire home/apt'